:root {
    --clr-red: rgb(150, 28, 28);
    --clr-lightblue: rgb(54, 164, 179);
    --clr-darkhover: rgb(50, 122, 122);
    --clr-background: rgb(218, 242, 245);
    --clr-boxshadow: 0 5px 15px rgba(0, 0, 0, 0.1);

    --rotate-90: rotate(90deg);
    --transition: all 0.3s linear;
    --animation: bounce 2s ease-in-out infinite;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--clr-background);
}

h1 {
    margin-left: 30rem;
}

.container {
    display: flex;
    justify-content:space-between;
}

.toggle-container {
    width: 0rem;
    height: 100vh;
    overflow: hidden;
    transition: all 0.4s linear;
    box-shadow: var(--clr-boxshadow);
    background-color: var(--clr-background);
}

.viewtoggle {
    width: 29rem;
    height: 100vh;
    overflow: hidden;
    box-shadow: var(--clr-boxshadow);
}

.logo-container {
    width: 9rem;
    display: flex;
    margin: 5px 0px 0px 5px;
}

.logo {
    width: 9rem;
    position: fixed;
    margin: 25px 0px 0px 10px;
}

.close-btn {
    cursor: pointer;
    font-size: 2.2rem;
    color: var(--clr-red);
    background: transparent;
    border-color: transparent;
    margin: 10px 0px 0px 26rem;
}

.toggle-center {
    margin-top: 15rem;
}

.toggle li {
    text-align: center;
    list-style-type: none;
    margin: 45px 0px 0px -25px;
    transition: var(--transition);
}

.toggle li:hover {
    padding-left: 1.5rem;
}

.toggle li a {
    font-size: 1.5rem;
    margin-left: 20px;
    text-decoration: none;
    letter-spacing: 0.2rem;
    font-family: 'Arvo', serif;
    text-transform: capitalize;
    color: var(--clr-lightblue);
}

.toggle li a:hover {
    color: var(--clr-darkhover);
}

.social-icons a 
:hover {
    color: var(--clr-darkhover);
}

.social-icons {
    display: flex;
    list-style-type: none;
    margin: 10rem 0px 0px 5.3rem;
}

.social-icons a {
    font-size: 1.4rem;
    color: var(--clr-lightblue);
}

.social-icons li {
    margin-left: 2rem;
}

/*CONTENTS*/
.contents {
    z-index: -1;
    width: 100vw;
    display: flex;
    height: 100vh;
    position: fixed;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    color: var(--clr-darkhover);
    font-family: 'DM Sans', sans-serif;
}
/*CONTENTS*/

.nav-toggle {
    position: fixed;
    font-size: 40px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: var(--clr-lightblue);
    margin: 2rem 50px 0px -5rem;
    animation: var(--animation);
}

@keyframes bounce {
    0% {
    transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.nav-toggle:hover {
    transform: var(--rotate-90);
}

@media screen and (max-width: 548px) {

    /*Added to class once clicked */
    .hide-toggle {
        display: none
    }
    /*Added to class once clicked */

    .logo {
        width: 7rem;
    }

    .nav-toggle {
        font-size: 35px;
    }

}